# Halcyon will handle all Haskell dependencies
language: sh

addons:
  postgresql: "9.3"

env:
  global:
    - GITHUB_OAUTH_CLIENT_ID=x
    - GITHUB_OAUTH_CLIENT_SECRET=x
    - secure: CIZIU8utnhZ9aT+vdvRl2dWVExSL0N9ajpyg/eh4NfSHBS8DmQTX5OMutzo3dpLrauZrT8ZT4AMDu4A1XM2XZg+R5Oz6eT5FyR1Vh2v35L5USLyQaMibIPhdPeppOXr1Fosmv23/MZNaADqpT7Rxk1CjvxqK6/Itg8sy3GodkA4=
    - secure: M1HfgGKfWPZxT/QOmZyziRm7Bq40ibkDbPHyl3+hdGUB9gsprw0fSxsJJkgG8qE55U3eIk+obPVSRQdbtv8klRlWgBwm7RIw2kYEz91C0usBf0xm7DoC6c5rikdUS7MAbBHOKcMLuGD9QXBByeEVl7/jnl3BsSj2Rt4IBZ+0ltU=
    - secure: ad468nMN2y4qtBHS6hDCKyRf57elMPgkUkcTCXB5BM3AZoXGMJugGuEsJgge1QPV+Ex3F6TXMGPWe05m9HpiB7kngJbDmyueghYBsFAvR9ftf63Fg6tGMc1qGCC6SCs0l5xt3wb9ZfFMn5rmJ08rby2TASsn/L7dMxGsKL4OV/4=

before_install:
  - sudo mkdir /app
  - sudo chown $USER:$USER /app

install:
  - export PATH="node_modules/.bin:$PATH"
  - ./bin/halcyon-build

before_script:
  - ./bin/setup-db
  - /app/halcyon/halcyon paths > halcyon-env

script:
  - source halcyon-env && yesod test

notifications:
  email: false

branches:
  only:
    - master
