body {
  color: #615E5F;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-family: "Lato", "Gill Sans", "Gill Sans MT", sans-serif;
  font-size: 16px;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

a {
  color: #E74C3D;
  text-decoration: none; }

a:hover {
  border-bottom: 2px solid #F7C4BF; }

h1, h2, h3, h4, h5, h6 {
  color: #221E1F; }

ul {
  margin: 0;
  padding: 0; }

.button {
  background: #E74C3D;
  border-radius: 1.125em;
  color: #fff;
  display: inline-block;
  line-height: 1;
  padding: 8px 1.5em 9px; }

.button:hover {
  border-bottom: 0; }

.button--github {
  background: #E74C3D url("/static/img/github.svg") no-repeat 1em center;
  padding-left: 2.75em; }

.button--google {
  background: #E74C3D url("/static/img/google.svg") no-repeat 1em center/20px;
  padding-left: 2.75em; }

.button--light {
  background-color: #fff;
  border: 2px solid #F7C4BF;
  color: #E74C3D; }

.button--light:hover {
  border-bottom: 2px solid #F7C4BF; }

.clearfix::before,
.clearfix::after {
  content: "";
  display: table; }

.clearfix::after {
  clear: both; }

.container {
  margin: 0 auto;
  max-width: 68.75em;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 90%; }

.nav {
  padding: 3em 0; }

.nav-item {
  float: left;
  line-height: 4em;
  list-style: none;
  margin: 0 4em 0 0; }

.nav-item.active a {
  border-bottom: 2px solid #F7C4BF;
  cursor: default;
  pointer-events: none; }

.nav-item:last-child {
  margin-right: 0; }

.nav-item--button {
  float: right; }

.nav-logo {
  background: url("/static/img/logo.png") no-repeat left center/4em;
  display: block;
  height: 4em;
  line-height: 4em;
  padding: 0 0 0 6em; }

.nav-logo:hover {
  border: 0; }

.footer {
  background-color: #D7D7D7;
  color: #615E5F;
  padding: 3em 0;
  position: relative;
  z-index: 1; }

.footer-copy {
  float: left; }

.footer-source {
  float: right; }

/* revert text-align: center when carnival is within .hero on the homepage */
.carnival {
  text-align: left; }

.hero {
  text-align: center; }
  .hero-cta:hover {
    border-bottom: 0; }
  .hero-cta-text {
    padding-right: 1.5em; }
  .hero-disclaimer {
    color: #615E5F;
    margin-bottom: 5em; }
  .hero-headline {
    font-size: 3em;
    font-weight: normal;
    margin-left: auto;
    margin-right: auto;
    max-width: 15em; }
  .hero-image {
    margin: 4em 0 -1em;
    position: relative;
    z-index: 0; }

.login {
  text-align: center; }
  .login-button {
    margin: 3em 0; }

.guide h1, .guide article {
  width: 70%;
  margin: auto; }

.plan .panel {
  height: 250px;
  position: relative; }
.plan ul {
  margin-left: 15px; }
.plan .price {
  font-weight: bold; }
.plan form {
  bottom: 25px;
  left: 0px;
  position: absolute;
  text-align: center;
  width: 100%; }

form#site-delete {
  margin-bottom: 50px; }
  form#site-delete a:hover {
    border-width: 1px; }

/*# sourceMappingURL=screen.css.map */
