.hero {
  text-align: center;

  &-cta {
    &:hover {
      border-bottom: 0;
    }

    &-text {
      padding-right: 1.5em;
    }
  }

  &-disclaimer {
    color: $medium-gray;
    margin-bottom: 5em;
  }

  &-headline {
    font-size: 3em;
    font-weight: normal;
    margin-left: auto;
    margin-right: auto;
    max-width: 15em;
  }

  &-image {
    margin: 4em 0 -1em;
    position: relative;
    z-index: 0;
  }
}
