.hero {
  text-align: center;
}

.hero-disclaimer {
  color: $medium-gray;
  margin-bottom: 5em;
}

.hero-headline {
  font-size: 3em;
  font-weight: normal;
  margin-left: auto;
  margin-right: auto;
  max-width: 15em;
}

.hero-image {
  margin: 4em 0 -1em;
  position: relative;
  z-index: 0;
}
